.mb-3 {
  width: 260px;
  margin-right: 16px;
}

.login-container {
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 55%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid white;
}

#username,
#password {
  font-size: 20px;
}

.btn-primary {
  border-radius: 15px;
  width: 130px;
}

.btn-primary:hover {
  background-color: rgb(255, 6, 6);
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 10px;
  height: 100%;
  width: 600px;
}

.login-btn {
  height: 12%;
  width: 95%;
  border-radius: 10px;
  border: none;
  background-color: rgb(14, 161, 76);
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  color: white;
}

.login-form {
  margin-right: 70px;
  margin-bottom: 130px;
}
