* {
  color: white;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  color: white;
  background-color: rgb(0, 0, 0);
  margin: 50px;
  min-height: 215vh;
}

.card-deck1 {
  color: white;
  padding-top: 75px;
}

.card1 {
  color: black;
  height: auto;
  width: 350px;
  background-color: white;
  margin-top: auto;
}

.card-body1 {
  color: black;
}

.card-title1 {
  color: black;
  height: 40px;
  font-weight: bolder;
  text-align: center;
  padding: 5px;
}

.card-text1 {
  color: black;
  height: 100px;
  overflow: hidden;
  margin-bottom: 0px;
  margin-left: 10px;
}

.card-footer1 {
  background-color: lightgrey;
  color: black;
  text-align: center;
}

.text-muted1 {
  background-color: lightgrey;
  color: black;
  margin-right: 5px;
  font-weight: bold;
  text-align: center;
}

.card-img-top1 {
  height: auto;
  width: 100%;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.detail-button1 {
  transition-duration: 0.4s;
  background-color: rgb(236, 74, 74);
  margin-top: 10px;
  padding: 5px;
  margin-left: 40%;
  border-radius: 15px;
}

.detail-button1:hover {
  color: black;
}

body {
  background-color: black;
}
