.card-title {
  margin-right: 60px;
}

.create-btn {
  background-color: rgb(236, 74, 74);
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  outline: none;
  text-decoration: none;
  height: 50px;
  width: 10%;
}

.create-form {
  margin-bottom: 1rem;
}
