.dropdown-2,
.dropdown-3,
.card1,
.card-title1,
.card-text1,
.card-footer1,
.text-muted1 {
  color: black;
}

.dropdown-2,
.dropdown-3,
.card1 {
  background-color: white;
  cursor: pointer;
}

.card-footer1,
.text-muted1 {
  background-color: lightgrey;
  text-align: center;
}

.card-img-top1,
.card1 {
  height: auto;
}

.post-container {
  background-color: black;
  height: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

.text-muted1 {
  margin-right: 5px;
  font-weight: bold;
}

.dropdown-2 {
  width: 250px;
  margin-top: 100px;
  font-size: 20px;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 55px;
  margin-bottom: 0;
}

.card1 {
  width: 350px;
  border: 4px solid rgb(255, 255, 255);
}

.card-title1 {
  height: 40px;
  font-weight: bolder;
  padding: 5px;
}

.card-text1 {
  height: 100px;
  margin-left: 10px;
}

.card-img-top1 {
  width: 100%;
}

.detail-button1 {
  transition-duration: 0.4s;
  background-color: rgb(236, 74, 74);
  margin-top: 10px;
  padding: 5px;
  border-radius: 15px;
}

.detail-button1:hover {
  color: black;
}

body {
  background-color: black;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
