* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Catamaran", sans-serif;
  color: white;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(1, 1, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 2, 2);
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}

.nav-container {
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

#navbar-logo {
  justify-self: start;
  margin-left: 20px;
}

.navbar-right {
  margin-right: 15%;
}

.dropdown-links {
  font-size: 17px;
  margin-right: 20px;
  font-weight: 700;
  color: rgb(155, 150, 150);
}

.dropdown-links:hover {
  color: rgb(255, 2, 2);
}

.dropdown {
  margin-right: 20px;
}

body {
  background-color: black;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  transform: translateY(-10%);
}

.main-img {
  display: flex;
  margin-right: 30px;
}

.main-content h1 {
  font-size: 4rem;
}

.main-content p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.homepage-btn {
  color: white;
  border: none;
  background-color: rgb(236, 74, 74);
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  text-decoration: none;
}

.homepage-btn:hover {
  background-color: rgb(64, 64, 217);
  transition: 0.3 ease-in;
}

#title-first-half {
  color: #d4d4d4;
}

#title-second-half {
  color: #ba4044;
}

#grass-text {
  color: rgb(56, 146, 56);
}

#team-title {
  color: rgb(178, 70, 70);
}

.container {
  text-align: center;
  height: auto;
}

.title {
  font-size: 70px;
  font-weight: 800;
  color: white;
  margin-bottom: 3rem;
}
.name {
  color: red;
}

.card {
  margin-left: 30px;
  max-width: 300px;
}

.main-card .group-cards .card {
  border-radius: 12px;
  padding: 30px;
}

.main-card .group-cards .card:hover {
  transform: translateY(-15px);
}

.group-cards {
  display: flex;
  flex-wrap: nowrap;
}

@media screen and (max-width: 767px) {
  .group-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.group-cards .card .content {
  text-align: center;
}

.group-cards .card .card-content .card-img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #ff676d;
  margin-bottom: 14px;
  margin-left: 50px;
}

.card .card-content .card-img img {
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}

.card .card-content .name {
  font-size: 20px;
  font-weight: 700;
}

.card .card-content .job {
  font-size: 20px;
  color: #000000;
}

.card .card-content .media-icons {
  margin-top: 10px;
  margin-left: 45px;
  display: flex;
}

.media-icons a {
  width: 40px;
  margin: 0 4px;
}

.container .button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* do the css for the  footer class*/
.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer .footer-content .footer-section .footer-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.footer .footer-content .footer-section .footer-text {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer .footer-content .footer-section .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-content .footer-section .socials a {
  color: #ffffff;
  font-size: 20px;
}

.footer .footer-content .footer-section .socials a:hover {
  color: #ff676d;
}

.footer .footer-bottom {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.footer .footer-bottom .footer-text {
  font-size: 20px;
}

.footer .footer-bottom .footer-text a {
  color: #ff676d;
}

.footer .footer-bottom .footer-text a:hover {
  color: #ffffff;
}

.footer-link {
  color: white;
}

.socials {
  margin-left: 0.5rem;
}
